@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply font-custom;
  }
} */

@font-face {
  font-family: "Bahnschrift";
  src: url("/BAHNSCHRIFT.TTF");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fee0df;
}
